<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 001</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
<h1>Cabeçalho</h1>
    </header>

    <nav>
<p>navegação</p>

    </nav>
      
    <main>
<h2> conteúdo principal</h2>
    </main>

    <aside>
<h3>Conteúdo secundário</h3>

    </aside>

    <footer>
<p>criado por maryane soares</p>

    </footer>

    
</body>
</html>