@media screen and (max-width: 760px) {

    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    form {
        margin: 0 auto;
    }

    input {
        align-self: center;
        width: 100%;
    }

    img {
        margin-top: 50px;
        max-width: 400px;
        box-align: center;
    }

    ul {
        text-align: center;
    }

}